{% extends 'Oasis/barNav.html' %}
{% load static %}

{% block titulo %}Menu{% endblock %}

{% block Opciones %}
  <li class="nav-item lateralOpciones2">
    <a class="nav-link text-white" href="{% url 'Menu' %}">
      Inicio                    
    </a>
  </li>
{% endblock %}


{% block contenedor %}
    <div class="radio-inputs">
        <label class="radio">
        <a href="{% url 'Menu' %}">
            <input type="radio" name="radio" checked=""/>
            <span class="name">Inicio</span>
        </a>
        </label>
    </div>
    <div class="contenedor2">
        <div class="titulo">
            <h1 style="margin-top: 0.5em;" >COCTELES</h1>
            <button style="margin-top: 0.5em;" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#nombre"><i class="bi bi-pencil"></i></button>
        </div>
        <div class="search">
            <input  type="text" id="myInput" placeholder="Buscar producto...">
            <button id="searchButton" type="submit">Buscar</button>
        </div>
        <div class="row">
            <div  class="col-md-12 productos2">
                <div class="card">
                    <img src="{% static 'Oasis/img/martini.jpg' %}" alt="Martini">
                    <div class="card-content">
                        <h2>MARTINI</h2>
                        <p>Precio: $19.99</p>
                        <p>Descripción del producto que puede ser bastante larga si es necesario.</p>
                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#info"><i class="bi bi-eye-fill"></i></button>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit">
                            <i class="bi bi-pencil"></i>
                        </button>                                    
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal3"><i class="bi bi-x-lg"></i></button>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'Oasis/img/martini.jpg' %}" alt="Martini">
                    <div class="card-content">
                        <h2>MARTINI</h2>
                        <p>Precio: $19.99</p>
                        <p>Descripción del producto que puede ser bastante larga si es necesario.</p>
                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#info"><i class="bi bi-eye-fill"></i></button>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit"><i class="bi bi-pencil"></i></button>                                    
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal3"><i class="bi bi-x-lg"></i></button>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'Oasis/img/martini.jpg' %}" alt="Martini">
                    <div class="card-content">
                        <h2>MARTINI</h2>
                        <p>Precio: $19.99</p>
                        <p>Descripción del producto que puede ser bastante larga si es necesario.</p>
                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#info"><i class="bi bi-eye-fill"></i></button>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit"><i class="bi bi-pencil"></i></button>                                    
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal3"><i class="bi bi-x-lg"></i></button>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'Oasis/img/martini.jpg' %}" alt="Martini">
                    <div class="card-content">
                        <h2>MARTINI</h2>
                        <p>Precio: $19.99</p>
                        <p>Descripción del producto que puede ser bastante larga si es necesario.</p>
                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#info"><i class="bi bi-eye-fill"></i></button>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit"><i class="bi bi-pencil"></i></button>                                    
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal3"><i class="bi bi-x-lg"></i></button>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'Oasis/img/martini.jpg' %}" alt="Martini">
                    <div class="card-content">
                        <h2>MARTINI</h2>
                        <p>Precio: $19.99</p>
                        <p>Descripción del producto que puede ser bastante larga si es necesario.</p>
                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#info"><i class="bi bi-eye-fill"></i></button>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit"><i class="bi bi-pencil"></i></button>                                    
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal3"><i class="bi bi-x-lg"></i></button>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'Oasis/img/martini.jpg' %}" alt="Martini">
                    <div class="card-content">
                        <h2>MARTINI</h2>
                        <p>Precio: $19.99</p>
                        <p>Descripción del producto que puede ser bastante larga si es necesario.</p>
                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#info"><i class="bi bi-eye-fill"></i></button>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit"><i class="bi bi-pencil"></i></button>                                    
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal3"><i class="bi bi-x-lg"></i></button>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'Oasis/img/martini.jpg' %}" alt="Martini">
                    <div class="card-content">
                        <h2>MARTINI</h2>
                        <p>Precio: $19.99</p>
                        <p>Descripción del producto que puede ser bastante larga si es necesario.</p>
                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#info"><i class="bi bi-eye-fill"></i></button>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit"><i class="bi bi-pencil"></i></button>                                    
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal3"><i class="bi bi-x-lg"></i></button>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'Oasis/img/martini.jpg' %}" alt="Martini">
                    <div class="card-content">
                        <h2>MARTINI</h2>
                        <p>Precio: $19.99</p>
                        <p>Descripción del producto que puede ser bastante larga si es necesario.</p>
                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#info"><i class="bi bi-eye-fill"></i></button>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit"><i class="bi bi-pencil"></i></button>                                    
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal3"><i class="bi bi-x-lg"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal" id="nombre">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar Nombre de Categoria</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form> <!-- Agrega la etiqueta form aquí -->
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Nombre</label>
                            <input type="text" class="form-control" placeholder="---X">
                        </div>
                    </form> <!-- Cierra la etiqueta form aquí -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Guardar cambios</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="info">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detalles de Producto</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Nombre</label>
                                <input type="text" class="form-control" placeholder="---X" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Precio</label>
                                <input type="text" class="form-control" placeholder="---X" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Descripción</label>
                            </div>
                            <div class="mb-3">
                                <textarea name="textarea" rows="5" cols="60" readonly></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Guardar cambios</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal" id="edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detalles de Producto</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Nombre</label>
                                <input type="text" class="form-control" placeholder="---X">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Precio</label>
                                <input type="text" class="form-control" placeholder="---X">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Descripción</label>
                            </div>
                            <div class="mb-3">
                                <textarea name="textarea" rows="5" cols="60"></textarea>
                            </div>
                            <form action="tu_script_de_procesamiento.php" method="post" enctype="multipart/form-data">
                                <label for="imagen">Cambiar de imagen:</label>
                                <input type="file" id="imagen" name="imagen" accept="image/*">
                            </form>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Guardar cambios</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>


    <div class="modal" id="myModal3">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Eliminar Producto</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <p>Seguro que desea eliminar el producto?</p>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success">Confirmar</button>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
      
          </div>
        </div>
      </div>
{% endblock %}
