{% extends 'Oasis/barNavInicio.html' %}
{% load static %}
{% load humanize %}

{% block titulo %}Pedido{% endblock %}

{% block contenedor %}

<!-- Header Start -->
<div class="jumbotron jumbotron-fluid bg-jumbotron-pedido" style="margin-bottom: 90px;">
    <div class="container text-center py-5">
        <h3 class="text-white display-3 mb-4">Realizar pedido</h3>
        <div class="d-inline-flex align-items-center text-white">
            <p class="m-0"><a class="text-white" href="{% url 'index' %}">Inicio</a></p>
            <i class="far fa-circle px-3"></i>
            <p class="m-0">Realizar pedido</p>
        </div>
    </div>
</div>
<!-- Header End -->



<!-- Pedido Start -->
<div class="container-fluid py-5 px-5">
    <div class="row mx-0 justify-content-center text-center">
        <div class="col-lg-6">
            <h6 class="d-inline-block bg-light text-primary text-uppercase py-1 px-2">Realizar pedido</h6>
            <h1 class="mb-5">Escoge tus productos y comienza tu pedido</h1>
        </div>
    </div>

    <div class="pt-5">
        <div class="row">
            <div class="col-lg-4 mb-5">
                <form method="post" action="{% url 'crear_pedido_usuario' mesa.id %}">
                    {% csrf_token %}
                        <div class="pedido-resumen">
                            <h2 style="font-weight: 700;">Pedido en Curso</h2>
                            <div class="order-items">
                                <div id="respuesta_carrito">
                                </div>
                            </div>
                            <div class="mb-3">
                            <label for="comentarios" class="form-label">Comentario</label>
                            <input type="text" name="comentario" id="comentarios" class="form-control text-dark" placeholder="Ingresa un comentario">
                            </div>
                            <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success btn-lg pedidoListo">Enviar Pedido</button>
                            </div>
                        </div>
                </form>
            </div>

            <div class="col-lg-8">
                <div class="align-items-center mb-4 ml-3">
                    <a href="{% url 'pedidoUsuario' mesa.id %}" class="d-inline-block text-uppercase {% if cat == None %} bg-primary text-white {% else %} bg-light text-dark {% endif %} py-2 px-3 mb-2 text-decoration-none" style="cursor: pointer;">Todos</a>
                    {% for c in categorias %}
                        <a href="{% url 'pedidoUsuario' mesa.id %}?cat={{ c.id }}" class="d-inline-block text-uppercase {% if cat == c.id %} text-white bg-primary {% else %} bg-light text-dark {% endif %} py-2 px-3 mb-2 text-decoration-none" style="cursor: pointer;">{{ c.nombre }}</a>
                    {% endfor %}
                </div>
                <div class="row">
                    {% if productos|length == 0 %}
                      <p style="margin-left: 2em; padding: 0;">No se encuentran productos en esta categoria</p>
                    {% else %}
                        {% for i in productos %}
                            <div class="pedido-item" style="margin-left: 2em;">
                                <img src="{{ i.foto.url }}" class="card-img-top rounded" alt="Producto" width="200px"> 
                                <p class="text-dark font-weight-bold mb-1">{{ i.nombre }}</p>
                                <p>${{ i.precio|intcomma }}</p>
                                <form class="input-group">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" id="id_{{ i.id }}" value="{{ i.id }}">
                                    <input type="number" name="cantidad" id="cantidad_{{ i.id }}" class="form-control text-dark" placeholder="Cantidad" min="1" value="1" size="3">
                                    <br>
                                    <button type="button" onclick="add_carrito(`{% url 'carrito_add' %}`, {{ i.id }});" class="btn btn-primary" style="font-size: 11px">Agregar</button>
                                </form>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
