<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Oasis/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Oasis/css/tyc.css' %}">
</head>
<body>
    <div>
        <h1 class="titulo"><strong>Términos y condiciones de la discoteca Oasis.</strong></h1>
        <p class="frases">Por favor, lee atentamente los siguientes términos y condiciones antes de utilizar nuestra aplicación móvil. Al acceder y utilizar nuestra aplicación, aceptas cumplir con estos términos y condiciones. Si no estás de acuerdo con alguno de estos términos, por favor, no utilices nuestra aplicación.
        La aplicación móvil de la Discoteca Oasis está diseñada para proporcionar información sobre nuestros servicios, eventos y promociones, así como para permitir la realización de compras en línea y pedidos en línea de productos y servicios ofrecidos por la discoteca.
        Al utilizar nuestra aplicación, aceptas utilizarla sólo para fines legales y de acuerdo con estos términos y condiciones.
        Términos de Registro.
        Para acceder a ciertas funciones de la aplicación, puedes necesitar registrarte y crear una cuenta de usuario. Debes proporcionar información precisa y completa durante el proceso de registro.
        Eres responsable de mantener la confidencialidad de tu cuenta y contraseña, y aceptas no compartir tus credenciales de inicio de sesión con terceros.</p>
    </div>
    <br>
    <div>
        <h2 class="subtitulo">Términos para compras.</h2>
        <p class="frases"> La aplicación móvil de la Discoteca Oasis ofrece la posibilidad de realizar compras en línea de entradas para eventos, bebidas, alimentos u otros productos y servicios ofrecidos por la discoteca.<br>
        - Al realizar una compra a través de nuestra aplicación, aceptas pagar el precio total indicado, incluidos los impuestos aplicables y cualquier cargo adicional.<br>
        - Todas las ventas son finales y no se aceptan devoluciones, a menos que se especifique lo contrario en nuestros términos de venta.</p>
    </div>
    <br>
    <div>
        <h2 class="subtitulo">Términos para pedidos en línea.</h2>
        <p class="frases">- La aplicación móvil de la Discoteca Oasis permite realizar pedidos en línea de alimentos y bebidas para ser consumidos en nuestras instalaciones.<br>
        - Al realizar un pedido a través de nuestra aplicación, aceptas pagar el precio total indicado, así como cualquier cargo por servicio o entrega que pueda aplicarse.<br>
        - Nos reservamos el derecho de rechazar cualquier pedido que consideremos inapropiado o que viole nuestras políticas internas.</p>
    </div>
    <br>
    <div>
        <h2 class="subtitulo">Derechos de Propiedad Intelectual.</h2>
        <p class="frases">- Todos los derechos de propiedad intelectual relacionados con nuestra aplicación y su contenido, incluidos, entre otros, los derechos de autor, marcas comerciales y derechos de diseño, son propiedad de la Discoteca Oasis o de sus licenciantes.<br>
        - No se permite la reproducción, distribución, modificación o utilización no autorizada de ningún contenido de nuestra aplicación sin nuestro consentimiento previo por escrito.</p>
    </div>
    <br>
    <div>
        <h2 class="subtitulo">Modificaciones de los Términos y Condiciones.</h2>
        <p>- Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento sin previo aviso. Las modificaciones entrarán en vigor inmediatamente después de su publicación en nuestra aplicación.<br>
        - Se te notificará sobre cualquier cambio significativo en estos términos y condiciones. El uso continuado de nuestra aplicación después de dichas modificaciones constituirá tu aceptación de los términos modificados.</p>
    </div>
    <br>
    <div>
        <h2 class="subtitulo">Ley Aplicable.</h2>
        <p>- Estos términos y condiciones se regirán e interpretarán de acuerdo con las leyes del país donde está ubicada la Discoteca Oasis, sin tener en cuenta sus disposiciones sobre conflictos de leyes..</p>
    </div>
</body>
</html>