.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .alert {
    width: 100%; /* Ancho del mensaje */
    margin-bottom: 10px; /* Espacio entre mensajes */
    position: relative; /* Para posicionar el botón de cierre */
    padding: 10px;
  }
  
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }

.BlockReservaEntrada{
    display: flex;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-around;
    height: auto;
    padding-bottom: 5%;
}

.BlockReservaEntrada h4{
    font-family: Quicksand; 
    margin-bottom: 3%;
}
.contenedorReservas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulosyDescEntradas{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 3%;
}

.titulosyDescEntradas p{
    color: #fc4664;
}

.comprarEntradaTabla{
    width: 100%;
}
.comprarEntradaTabla td{
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.reservarMesaTabla{
    width: 70%;
}
.reservarMesaTabla td{
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 50%;
}
.inputCantidadEntradas{
    width: 80px;
}
#formEntradas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
}

/* BOTONES */

.btn-comprar{
    background-color: #fc4664; 
    color: white; 
    width: 50%;
}

.btn-comprar:hover{
    background-color: #fb3958;
}

.btn-comprar:disabled{
    background-color: #5c5c5c; 
    color: white; 
    width: 50%;
}

#detalle-general, #detalle-vip{
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-align: center;
    background-color: #e7e7e7;
    color: black;
    font-size: 14px;
    width: 100%;
    height: 70px;
    padding: 20px;
    border-radius: 10px;
}

#detalle-general p, #detalle-vip p{
    margin: 0%;
}
