{% extends 'Oasis/barNav.html' %}
{% load static %}
{% load humanize %}

{% block titulo %}Reservas{% endblock %}

{% block contenedor %}
  <div class="radio-inputs many">
    <label class="radio">
      <a href="{% url 'guInicio' %}">
        <input type="radio" name="radio" checked="" />
        <span class="name">Inicio</span>
      </a>
    </label>
    <label class="radio">
      <a href="{% url 'guUsuariosBloqueados' %}">
        <input type="radio" name="radio" />
        <span class="name">Usuarios Bloqueados</span>
      </a>
    </label>
  </div>

  <h1>Reservas</h1>
  <div class="Contenido">
      <div class="conteos">
        <p>Todos (<span> {{ reservas|length }} </span>)</p>
      </div>
  </div>

  <small class="fw-bold">Usuario: {{ usuarioReserva }}</small>
  <div id="contenedorTabla">
    <table class="table" id="table">
      <thead class="thead-light">
        <tr>
          <th>Mesa</th>
          <th>Evento</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for r in reservas %}
          <tr>
            <td data-label="Usuario">{{ r.mesa }}</td>
            <td data-label="Evento">{{ r.evento }}</td>
            <td data-label="Fecha">{{ r.evento.fecha }}</td>
            <td data-label="Acciones">
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#verReserva{{ r.id }}"><i class="bi bi-info-circle"></i></button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  {% for r in reservas %}
    <div class="modal fade" id="verReserva{{ r.id }}" tabindex="-1" role="dialog" aria-labelledby="verReservaLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <p class="tituloFormulario">Ver reserva</p>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">  
                <div class="d-flex justify-content-center">
                    <img src="{{ r.evento.foto.url }}" alt="{{ r.evento.nombre }}" class="rounded" width="50%">
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                    <p class="m-0"><strong>{{ r.evento.nombre }}</strong></p>
                    <small>{{ r.evento.fecha }}</small>
                    <br>
                    <p class="m-0"><strong>Info de la reserva</strong></p>
                    <small>Usuario: {{ r.usuario }}</small>
                    <small>Correo: {{ r.usuario.email }}</small>
                    <small>CC: {{ r.usuario.cedula }}</small>
                    <small>Fecha de compra: {{ r.fecha_compra }}</small>
                    <small>Total pagado: $ {{ r.total|intcomma }}</small>
                    <br>
                    <p class="m-0"><strong>{{ r.mesa.nombre }} x {{ r.mesa.capacidad }} personas</strong></p>
                </div>
              </div>
          </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}  