{% extends 'Oasis/barNav.html' %}
{% load static %}

{% block titulo %}Usuarios Bloqueados{% endblock %}

{% block contenedor %}
    <div class="radio-inputs many">
        <label class="radio">
        <a href="{% url 'guInicio' %}">
            <input type="radio" name="radio"/>
            <span class="name">Inicio</span>
        </a>
        </label>
        <label class="radio">
        <a href="{% url 'guUsuariosBloqueados' %}">
            <input type="radio" name="radio" checked="" />
            <span class="name">Usuarios Bloqueados</span>
        </a>
        </label>
    </div>
    <h1>Usuarios Bloqueados</h1>
    <div class="Contenido">
        <div class="conteos">
        <p>Todos (<span>0</span>)</p>
        </div>
        <div class="search">
            <input placeholder="Buscar usuarios..." type="text">
            <button type="submit">Buscar</button>
          </div>
    </div>
    <div id="contenedorTabla" style="margin-top: 2%;">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>Nombre</th>
              <th>Email</th>
              <th>Rol</th>
              <th>Fecha bloqueo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td data-label="Nombre">Cristhian</td>
                <td data-label="Email">chisthian@example.com</td>
                <td data-label="Rol">Bartender</td>
                <td data-label="Rol">01/05/2023</td>
                <td data-label="Acciones">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"><i class="bi bi-info-circle"></i></button>
                </td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detalles de Bloqueo</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Usuario Bloqueado</label>
                                <input type="text" class="form-control" placeholder="Cristhian"
                                    readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Fecha de Bloqueo</label>
                                <input type="text" class="form-control" placeholder="01/09/23"
                                    readonly>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Motivo del Bloqueo</label>
                                <div>
                                    <button id="botonDropdown" type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown">
                                        Comportamiento Violento
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item disabled" href="#">Pagos pendientes</a></li>
                                        <li><a class="dropdown-item disabled" href="#">Consumo excesivo de alcohol</a></li>
                                        <li><a class="dropdown-item disabled" href="#">Acoso o comportamiento inapropiado</a></li>
                                        <li><a class="dropdown-item disabled" href="#">Identificación falsa</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Detalles</label>
                            </div>
                            <div class="mb-3">
                                <textarea id="informacion" name="textarea" rows="5" cols="40" readonly>El cliente ingresó al establecimiento a las 8:00pm, se tomo 3 cócteles y en un acto de xenofobia pateo, golpeo e insulto a otro cliente.</textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar Detalles de Bloqueo</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Usuario Bloqueado</label>
                                <input type="text" class="form-control" placeholder="Cristhian"
                                    readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Fecha de Bloqueo</label>
                                <input type="text" class="form-control" placeholder="01/09/23"
                                    readonly>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Motivo del Bloqueo</label>
                                <div>
                                    <button id="botonDropdown" type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown">
                                        Comportamiento Violento
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Pagos pendientes</a></li>
                                        <li><a class="dropdown-item" href="#">Consumo excesivo de alcohol</a></li>
                                        <li><a class="dropdown-item" href="#">Acoso o comportamiento inapropiado</a></li>
                                        <li><a class="dropdown-item" href="#">Identificación falsa</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Detalles</label>
                            </div>
                            <div class="mb-3">
                                <textarea name="textarea" rows="5" cols="60">El cliente ingresó al establecimiento a las 8:00pm, se tomo 3 cócteles y en un acto de xenofobia pateo, golpeo e insulto a otro cliente.</textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Guardar cambios</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>



    <div class="modal" id="myModal3">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Eliminar Bloqueo</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <p>Seguro que desea quitar el bloqueo a este usuario?</p>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success">Confirmar</button>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
      
          </div>
        </div>
      </div>
{% endblock %}

