<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body { font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px; }
        .container { background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
        .header { text-align: center; background-color: black; color: white; padding: 10px}
        .header-title { font-size: 20px; margin-bottom: 8px; font-weight: bold; }
        .footer { text-align: center; font-size: 12px; color: #888; margin-top: 20px; }
    </style>
</head>
<body>
    <div class="container">
        <!--<img src="{{ request.scheme }}://{{ request.get_host }}/static/Oasis/img/title-entrada-email.png" alt="cabecera_reserva">
        <p>{{ request.scheme }}://{{ request.get_host }}/static/Oasis/img/title-entrada-email.png</p>-->
        <div class="header">
            {% if entradas|length <= 1 %}
                <p class="header-title">Oasis Nigth Club - Confirmación compra de Entrada</p>
            {% else %}
                <p class="header-title">Oasis Nigth Club - Confirmación compra de Entradas</p>
            {% endif %}
        </div>
        <p>Hola {{ compra.usuario.nombre }},</p>
        {% if entradas|length <= 1 %}
            <p>Tu entrada para el evento <strong>{{ compra.evento.nombre }}</strong> el día <strong>{{ compra.evento.fecha }}</strong> ha sido confirmada.</p>
            <p>A continuación entontrarás un pdf con la información de la entrada</p>
        {% else %}
            <p>Tus entradas para el evento <strong>{{ compra.evento.nombre }}</strong> el día <strong>{{ compra.evento.fecha }}</strong> han sido confirmadas.</p>
            <p>A continuación entontrarás los pdf con la información de las entradas</p>
        {% endif %}
        <div class="footer">
            <p>¡Gracias por confiar en Oasis!</p>
        </div>
    </div>
</body>
</html>