{% extends 'Oasis/barNav.html' %}
{% load humanize %}

{% load static %}

{% block titulo %}Gestión de Mesas{% endblock %}


{% block contenedor %}
<div class="radio-inputs many">
    {% if user.rol == 2 or user.rol == 1 %}
      <label class="radio">
        <a href="{% url 'peInicio' %}">
          <input type="radio" name="radio" />
          <span class="name">Inicio</span>
        </a>
      </label>
    {% endif %}
    {% if user.rol == 3 or user.rol == 1 %}
      <label class="radio">
        <a href="{% url 'peGestionMesas' %}">
          <input type="radio" name="radio" checked=""/>
          <span class="name">Gestión de Mesas</span>
        </a>
      </label>
    {% endif %}
    {% if user.rol == 1 %}
      <label class="radio">
        <a href="{% url 'peHistorial' %}">
          <input type="radio" name="radio"/>
          <span class="name">Historial de Pedidos</span>
        </a>
      </label>
    {% endif %}
  </div>
    <h1>{{ mesa.nombre }}</h1>
    <div class="Contenido">
        <div class="conteos">
            <p><b>Todos</b> (<span id="totalUsuarios">{{ total_pedidos }}</span>)</p>
        </div>
    </div>
    <div class="Agregar">
        <a type="button" class="btn btn-success" href="{% url 'pedidoEmpleado' mesa.id %}">Nuevo pedido</a>
    </div>
    <div>
        {% for detalle_pedido in detalles_pedidos %}
            <div style="margin-bottom: 3em; margin-top: 3em;">
                <h6>Pedido {{ detalle_pedido.pedido.id }} - Fecha: {{ detalle_pedido.pedido.fecha }}</h6>
                <div class="d-flex w-100 justify-content-between mt-2 mb-2">
                    <div class="d-flex gap-2">
                        <p style="margin-bottom: 0%;">Estado: <b>{{ detalle_pedido.pedido.estado }}</b></p>
                        <div class="d-flex justify-content-center align-items-center rounded-circle"
                        {% if detalle_pedido.pedido.estado == 'Entregado' %} style="background-color: rgb(14, 153, 14); width: 1.5em; height: 1.5em;"
                        {% elif detalle_pedido.pedido.estado == 'Cancelado' %} style="background-color: rgb(225, 25, 25); width: 1.5em; height: 1.5em;" 
                        {% else %} style="background-color: #ff9800; width: 1.5em; height: 1.5em;" 
                        {% endif %}>
                            <p 
                            {% if detalle_pedido.pedido.estado == 'Entregado' %} class="bi bi-check text-white mb-0 vertical-align-middle" 
                            {% elif detalle_pedido.pedido.estado == 'Cancelado' %} class="bi bi-x text-white mb-0 vertical-align-middle"
                            {% else %} class="bi bi-clock text-white mb-0 vertical-align-middle" 
                            {% endif %}></p>
                        </div>
                    </div>
                    {% if detalle_pedido.pedido.estado == 'En preparación' %}
                        <a href="javascript:eliminar('{% url 'cancelar_pedido_sin_comentario' detalle_pedido.pedido.id mesa.id 'ver_pedidos_mesa' %}')" type="button" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    {% endif %}
                </div>
                {% if detalle_pedido.pedido.estado == 'Cancelado' %}
                    {% if detalle_pedido.pedido.comentario != '' %}
                        <small style="color: red;">Motivo de cancelación: {{ detalle_pedido.pedido.comentario }}</small>
                    {% endif %}
                    <table class="table table-danger">
                        <thead>
                            <tr>
                                <th style="width: 50%">Producto</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detalle in detalle_pedido.detalles %}
                                <tr>
                                    <td>{{ detalle.producto.nombre }}</td>
                                    <td>{{ detalle.cantidad }}</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 50%">Producto</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detalle in detalle_pedido.detalles %}
                                {% if detalle.estado == 'Eliminado' %}
                                    <tr class="table-danger">
                                        <td>{{ detalle.producto.nombre }}
                                            {% if detalle.motivo_eliminacion != '' %}
                                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#motivoEliminacionModal{{ detalle.id }}"><i class="bi bi-question-circle"></i></button>
                                            {% endif %}
                                        </td>
                                        <td>{{ detalle.cantidad }}</td>
                                        <td>--</td>
                                        <td>--</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>
                                            {% if detalle_pedido.pedido.estado == 'En preparación' and detalle_pedido.detalles_activos_count > 1 %}  
                                                <a href="javascript:eliminar('{% url 'eliminar_item_sin_comentario' detalle.id mesa.id 'ver_pedidos_mesa' %}')" type="button" class="btn btn-close"></a>
                                            {% endif %}
                                            {{ detalle.producto.nombre }}
                                        </td>
                                        <td>{{ detalle.cantidad }}</td>
                                        <td>{{ detalle.precio|intcomma }}</td>
                                        <td>{{ detalle.subtotal|intcomma }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                </table>
            </div>
        {% endfor %}
    </div>
    <div style="display: flex; justify-content: end; align-items: center; gap: 2em; margin-right: 2em; margin-bottom: 3em;">
        {% if pedidos_eliminados == total_pedidos %}
            <a type="button" class="btn btn-info" href="{% url 'liberar_mesa' mesa.id %}">Liberar Mesa</a>
        {% else %}
            <a type="button" class="btn btn-info" href="{% url 'pagar_pedido' mesa.id 'empleado' %}">Pedido Pagado</a>
        {% endif %}
        <h3 style="font-weight: 700; text-align: end;">Total: ${{ cuenta|intcomma }}</h3>
    </div>

    {% for detalle_pedido in detalles_pedidos %}
        {% for detalle in detalle_pedido.detalles %}
            <div class="modal fade" id="motivoEliminacionModal{{ detalle.id }}" tabindex="-1" aria-labelledby="motivoEliminacionModalLabel{{ detalle.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="motivoEliminacionModalLabel{{ detalle.id }}">Motivo de la eliminación</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>{{ detalle.motivo_eliminacion }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}