{% extends 'Oasis/barNav.html' %}
{% load static %}
{% load humanize %}

{% block titulo %}Gestión de Mesas{% endblock %}


{% block contenedor %}
  <div class="radio-inputs many">
    {% if user.rol == 2 or user.rol == 1 %}
      <label class="radio">
        <a href="{% url 'peInicio' %}">
          <input type="radio" name="radio" />
          <span class="name">Inicio</span>
        </a>
      </label>
    {% endif %}
    {% if user.rol == 3 or user.rol == 1 %}
      <label class="radio">
        <a href="{% url 'peGestionMesas' %}">
          <input type="radio" name="radio" checked=""/>
          <span class="name">Gestión de Mesas</span>
        </a>
      </label>
    {% endif %}
    {% if user.rol == 1 %}
      <label class="radio">
        <a href="{% url 'peHistorial' %}">
          <input type="radio" name="radio"/>
          <span class="name">Historial de Pedidos</span>
        </a>
      </label>
    {% endif %}
  </div>
    <div class="contenedor">
        <h1>{{ mesa.nombre }}</h1>
        <div class="mt-4 contenedor-pedido">
          <div class="pedido">
            <form method="post" action="{% url 'crear_pedido_admin' mesa.id %}">
                {% csrf_token %}
                  <div class="pedido-resumen">
                      <h2 style="font-family: Nunito; font-weight: 700;">Pedido en Curso</h2>
                      <div class="order-items">
                          <div id="respuesta_carrito" class="carrito">
                          </div>
                      </div>
                      <div class="mb-3">
                        <label for="comentarios" class="form-label">Comentario</label>
                        <input type="text" name="comentario" id="comentarios" class="form-control" placeholder="Ingresa un comentario">
                      </div>
                      <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-success btn-lg pedidoListo">Enviar Pedido</button>
                      </div>
                  </div>
            </form>
          </div>
          <div class="content-productos">
            <div class="categorias">
              <a href="{% url 'pedidoEmpleado' mesa.id %}"><p {% if cat == None %} class="categorias__active" {% endif %}>Todos</p></a>
              {% for c in categorias %}
                <a href="{% url 'pedidoEmpleado' mesa.id %}?cat={{ c.id }}">
                  <p {% if cat == c.id %} class="categorias__active" {% endif %}>{{ c.nombre }}</p>
                </a>
              {% endfor %}
            </div>
            <div class="productos">
                {% if productos|length == 0 %}
                  <p>No se encuentran productos en esta categoria</p>
                {% else %}
                  {% for i in productos %}
                    <div class="pedido-item">
                        <img src="{{ i.foto.url }}" class="card-img-top rounded" alt="Producto" width="200px"> 
                        <p>{{ i.nombre }}</p>
                        <p class="precio">{{ i.precio|intcomma }}</p>
                        <form class="input-group">
                            {% csrf_token %}
                            <input type="hidden" name="id" id="id_{{ i.id }}" value="{{ i.id }}">
                            <input type="number" name="cantidad" id="cantidad_{{ i.id }}" class="form-control" placeholder="Cantidad" min="1" value="1" size="3">
                            <br>
                            <button type="button" onclick="add_carrito(`{% url 'carrito_add' %}`, {{ i.id }});" class="btn btn-primary">Agregar</button>
                        </form>
                    </div>
                  {% endfor %}
                {% endif %}
            </div>
          </div>
      </div>
    </div>
{% endblock %}

