{% extends 'Oasis/barNav.html' %}
{% load static %}

{% block titulo %}Gestión de Mesas{% endblock %}


{% block contenedor %}
  <div class="radio-inputs many">
    {% if user.rol == 2 or user.rol == 1 %}
      <label class="radio">
        <a href="{% url 'peInicio' %}">
          <input type="radio" name="radio" />
          <span class="name">Inicio</span>
        </a>
      </label>
    {% endif %}
    {% if user.rol == 3 or user.rol == 1 %}
      <label class="radio">
        <a href="{% url 'peGestionMesas' %}">
          <input type="radio" name="radio" checked=""/>
          <span class="name">Gestión de Mesas</span>
        </a>
      </label>
    {% endif %}
    {% if user.rol == 1 %}
      <label class="radio">
        <a href="{% url 'peHistorial' %}">
          <input type="radio" name="radio"/>
          <span class="name">Historial de Pedidos</span>
        </a>
      </label>
    {% endif %}
  </div>

  
  <h1>Gestión de Mesas</h1>
  {% if user.estado == 2 %}
    <p>Eres un usuario bloqueado, no puedes ver los pedidos</p>
  {% else %}
    <div class="Contenido">
      <div class="conteos">
        <p>Todas (<span>{{ mesas|length }}</span>)</p>
        <p class="divider">|</p>
        <p>Activas (<span>{{ mesas_activas }}</span>)</p>
        <p class="divider">|</p>
        <p>Disponibles (<span>{{ mesas_disponibles }}</span>)</p>
      </div>
    </div>
    <div class="mesas">
      {% for m in mesas %}
        {% if m.estado == "Disponible" %}
          <div class="tarjetaDisponible">
            <section class="mesaDisponible">
              <h4>{{ m.nombre }}</h4>
              <p>{{ m.estado }}</p>
              <a type="button" class="btn btn-success" href="{% url 'pedidoEmpleado' m.id %}">Activar</a>
            </section>
          </div>
        {% else %}
          <div class="tarjetaActiva">
            <section class="mesaActiva">
              <h4>{{ m.nombre }}</h4>
              {% if m.usuario.rol == 3 %}
                <p>💁‍♂️ {{ m.usuario.nombre }}</p>
              {% else %}
                <p>{{ m.usuario.nombre }}</p>
              {% endif %}
              <a type="button" class="btn btn-primary" href="{% url 'ver_pedidos_mesa' m.id %}">Ver</a>
            </section>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}

