{% extends 'Oasis/barNav.html' %}
{% load static %}

{% block titulo %}Pedidos{% endblock %}


{% block contenedor %}
  <div class="radio-inputs many">
    {% if user.rol == 2 or user.rol == 1 %}
      <label class="radio">
        <a href="{% url 'peInicio' %}">
          <input type="radio" name="radio" checked="" />
          <span class="name">Inicio</span>
        </a>
      </label>
    {% endif %}
    {% if user.rol == 3 or user.rol == 1 %}
      <label class="radio">
        <a href="{% url 'peGestionMesas' %}">
          <input type="radio" name="radio"/>
          <span class="name">Gestión de Mesas</span>
        </a>
      </label>
    {% endif %}
    {% if user.rol == 1 %}
      <label class="radio">
        <a href="{% url 'peHistorial' %}">
          <input type="radio" name="radio"/>
          <span class="name">Historial de Pedidos</span>
        </a>
      </label>
    {% endif %}
  </div>


    <h1>Pedidos</h1>
    {% if user.estado == 2 %}
      <p>Eres un usuario bloqueado, no puedes ver los pedidos</p>
    {% else %}
      {% if total_preparacion <= 0 %}
        <p>No hay pedidos en preparación</p>
      {% else %}
        <div class="Contenido">
            <div class="conteos">
                <p>Todos (<span>{{ total_preparacion }}</span>)</p>
            </div>
        </div>
        {% for detalle_pedido in detalles_pedidos %}
          {% if detalle_pedido.pedido.estado == 'En preparación' %}
            <section class="tarjetaOrden">
                <section class="listaOrden">
                    <div class="Orden">
                        <h3><strong>{{ detalle_pedido.pedido.mesa.nombre }}</strong></h3>
                    </div>
                    <a type="button" id="entregando" class="btn btn-deliver w-100" href="{% url 'entregar_pedido' detalle_pedido.pedido.id %}">Entregar</a>
                </section>

                <section class="detallesOrden">
                    <div class="informacionOrden">
                        {% if detalle_pedido.pedido.usuario.rol == 3 %}
                          <h5><b>Mesero: </b>{{ detalle_pedido.pedido.usuario }}</h5>
                        {% else %}
                          <h5><b>Cliente: </b>{{ detalle_pedido.pedido.usuario }}</h5>
                        {% endif %}

                        {% if detalle_pedido.pedido.comentario %}
                          <p class="comentario">Comentario</p>
                          <textarea name="textarea" rows="2" cols="90" readonly>{{ detalle_pedido.pedido.comentario }}</textarea>
                        {% endif %}
                    </div>  
                    <div class="order-items">
                            {% for detalle in detalle_pedido.detalles %}
                                {% if detalle.estado == 'Activo' %}
                                    <div class="d-flex w-100 gap-4">
                                        {% if detalle_pedido.detalles_activos_count > 1 %}  
                                          <a type="button" class="btn btn-close" data-bs-toggle="modal" data-bs-target="#cancelItemModal" data-detalle-id="{{ detalle.id }}"></a>
                                        {% endif %}
                                          <ul>
                                            <li>x{{ detalle.cantidad }} {{ detalle.producto }}</li>
                                          </ul>
                                    </div>
                                {% else %}
                                    <div class="d-flex w-100 gap-4">
                                        <ul>
                                            <li class="text-danger">x{{ detalle.cantidad }} {{ detalle.producto.nombre }} (Eliminado)</li>
                                        </ul>
                                    </div>
                                {% endif %}
                            {% endfor %}
                    </div>
                    <div class="d-flex justify-content-end">
                      <a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelModal" data-pedido-id="{{ detalle_pedido.pedido.id }}">Cancelar Pedido</a>
                    </div>
                </section>
            </section>
          {% endif %}
        {% endfor %}


        <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">Cancelar Pedido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form method="POST" action="{% url 'cancelar_pedido' %}">
                {% csrf_token %}
                <div class="modal-body">
                  <input type="hidden" name="pedido_id" id="pedidoId">
                  <div class="mb-3">
                    <label for="comentario" class="form-label">Comentario</label>
                    <textarea class="form-control" id="comentario" name="comentario" rows="3" required></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-danger">Cancelar Pedido</button>
                </div>
              </form>
            </div>
          </div>
        </div>


        <div class="modal fade" id="cancelItemModal" tabindex="-1" role="dialog" aria-labelledby="cancelItemModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="cancelItemModalLabel">Eliminar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form method="POST" action="{% url 'eliminar_producto' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" name="producto_id" id="producto_id">
                    <div class="mb-3">
                        <label for="comentario" class="form-label">Comentario</label>
                        <textarea class="form-control" id="comentario" name="comentario" rows="3" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-danger">Eliminar Producto</button>
                </div>
            </form>
            </div>
          </div>
        </div>



        <script>
          document.addEventListener('DOMContentLoaded', function () {
              var cancelModal = document.getElementById('cancelModal');
              cancelModal.addEventListener('show.bs.modal', function (event) {
                  var button = event.relatedTarget;
                  var pedidoId = button.getAttribute('data-pedido-id');
                  var modalPedidoIdInput = cancelModal.querySelector('#pedidoId');
                  modalPedidoIdInput.value = pedidoId;
              });
          });


          document.addEventListener('DOMContentLoaded', function () {
              var cancelItemModal = document.getElementById('cancelItemModal');
              cancelItemModal.addEventListener('show.bs.modal', function (event) {
                  var button = event.relatedTarget;
                  var detalleId = button.getAttribute('data-detalle-id');
                  var modalDetalleIdInput = cancelItemModal.querySelector('#producto_id');
                  modalDetalleIdInput.value = detalleId;
              });
          });

        </script>
    {% endif %}
  {% endif %}
{% endblock %}
