{% extends 'Oasis/barNav.html' %}
{% load static %}
{{data}}

{% block titulo %}Entradas{% endblock %}


{% block contenedor %}
    <div class="radio-inputs many">
        <label class="radio">
        <a href="{% url 'ver_perfil' %}">
            <input type="radio" name="radio" />
            <span class="name">Inicio</span> 
        </a>
        </label>
        <label class="radio">
            <a href="{% url 'ver_detalles_pedido_usuario' %}">
            <input type="radio" name="radio" />
            <span class="name">Pedidos activos</span>
            </a>
        </label>
        <label class="radio">
            <a href="{% url 'ver_ventas' %}">
            <input type="radio" name="radio" />
            <span class="name">Historial de pedidos</span>
            </a>
        </label>
        <label class="radio">
            <a href="{% url 'reservas_usuario' %}">
            <input type="radio" name="radio" />
            <span class="name">Reservas</span>
            </a>
        </label>
        <label class="radio">
            <a href="{% url 'entradas_usuario' %}">
            <input type="radio" name="radio" checked=""/>
            <span class="name">Entradas</span>
            </a>
        </label>
    </div>
    <h1>Entradas Compradas</h1>
        {% if not entrada_info  %}
            <p>No tienes entradas compradas para ningún evento.</p>
        {% else %}
            <div class="Contenido">
                <div class="conteos">
                    <p>Todos (<span>{{ entrada_info|length }}</span>)</p>
                </div>
            </div>
            <div class="bloqueEntradas">
                    {% for e in entrada_info %}
                        <a href="{% url 'entrada_info' e.entrada.id %}">
                            <div class="entrada">
                                <img src="{{ e.evento.foto.url }}" alt="{{ e.evento.nombre }}">
                                <div class="entrada-informacion">
                                    <p class="entrada-evento">{{ e.evento.nombre }}</p>
                                    <p class="entrada-fecha">{{ e.evento.fecha }}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
        {% endif %}
    </div>
{% endblock %}