{% extends 'Oasis/barNavInicio.html' %}
{% load static %}
{% load humanize %}

{% block titulo %}Productos{% endblock %}

{% block contenedor %}
    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid bg-jumbotron-menu" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h3 class="text-white display-3 mb-4">Menú</h3>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-white" href="{% url 'index' %}">Inicio</a></p>
                <i class="far fa-circle px-3"></i>
                <p class="m-0">Menú</p>
            </div>
        </div>
    </div>
    <!-- Header End -->



    <!-- Menú Start -->
    <div class="container pt-5">
        <div class="row justify-content-center text-center">
            <div class="col-lg-6">
            <h6 class="d-inline-block bg-light text-primary text-uppercase py-1 px-2">Nuestros productos</h6>
            {% if nombre_categoria %}
                <h1 class="mb-5">{{ nombre_categoria }}</h1>
            {% else %}
                <h1 class="mb-5">Todos los productos</h1>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="container pt-5">
        {% if sin_productos %}
            <div class="container-fluid px-0 pb-5">
                <div class="row mx-0 justify-content-center text-center">
                    <div class="col-lg-6">
                        <p>Por el momento no hay productos</p>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                {% if productos %}
                    <div class="col-lg-3 mb-5">
                        <a href="{% url 'front_productos' %}" class="d-flex align-items-center bg-light py-2 px-4 mb-2 text-decoration-none">Ver todo</a>
                        {% for c in categorias %}
                            <a href="{% url 'front_productos' %}?cat={{ c.id }}" class="d-flex align-items-center bg-light py-2 px-4 mb-2 text-decoration-none">{{ c.nombre }}</a>
                        {% endfor %}
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            {% for p in productos %}
                                <div class="col-lg-3 col-md-6">
                                    <div class="team position-relative overflow-hidden mb-5" style="display: flex; flex-direction: column; flex: 1;">
                                        <img class="img-fluid" src="{{ p.foto.url }}" alt="" style="width: 100%; height: 200px; object-fit: cover;">
                                        <div class="position-relative text-center" style="flex: 1;">
                                            <div class="team-text bg-light px-2">
                                                <h5 class="font-weight-bold" style="font-size: 16px;">{{ p.nombre }}</h5>
                                                <p class="m-0" style="font-size: 14px;">${{ p.precio|intcomma }}</p>
                                            </div>
                                            <div class="team-social bg-primary text-center">
                                                <a class="btn btn-outline-light" href="{% url 'front_producto_info' p.id %}">Ver más</a>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="col-lg-3 pb-5">
                        <a href="{% url 'front_productos' %}" class="d-flex align-items-center bg-light py-2 px-4 mb-2 text-decoration-none">Ver todo</a>
                        {% for c in categorias %}
                            <a href="{% url 'front_productos' %}?cat={{ c.id }}" class="d-flex align-items-center bg-light py-2 px-4 mb-2 text-decoration-none">{{ c.nombre }}</a>
                        {% endfor %}
                    </div>
                    <div class="col-lg-9 pb-5">
                        <div class="row">
                            <p>No se encuentran productos en esta categoría</p>   
                        </div>
                    </div>
                {% endif %}                 
            </div>
        {% endif %}
    </div>
    </div>
    <!-- Menú End -->

{% endblock %}