{% extends 'Oasis/barNavInicio.html' %}
{% load static %}
{% load humanize %}

{% block titulo %}Productos{% endblock %}

{% block contenedor %}
    <div class="d-flex">
        <img src="{% static 'Oasis/img/cerveza.png' %}" alt="cerveza" class="d-block w-50" style="height: 300px;">
        <div class="w-50" style="background-color: black;">
            <h1 style="color: white; font-family: Camingo; margin-top: 5%;">MENÚ OASIS</h1>
            <div style="height: 2%; background-color: blueviolet; width: 30%;"></div>
            <br>
            <br>
            <h5 style="color: white; font-family: Quicksand; width: 80%;">Tus celebraciones no serían lo mismo sin licor, por eso tenemos para tí los mejores del mercado, elige el que con tu evento combine mejor.</h5>
        </div>
    </div>
    <div class="bg-dark text-light w-100 d-flex" style="height:auto; padding: 2%;">
        {% if productos %}
            {% csrf_token %}
            <div class="d-block" style="width: 18%; padding-top: 16px; padding-left: 3%;">
                <a href="{% url 'front_productos' %}" class="text-center d-block text-decoration-none" style="color:white; font-family:Nunito; font-size: x-large;padding-top: 4%; padding-bottom: 4%; border-bottom: 1px solid rgb(112, 112, 112);">Ver todos</a>
                {% for i in categorias %}
                    <a href="{% url 'front_productos' %}?cat={{ i.id }}" class="text-center d-block text-decoration-none" style="color:white; font-family:Nunito; font-size: x-large;padding-top: 4%; padding-bottom: 4%; border-bottom: 1px solid rgb(112, 112, 112);">{{ i.nombre }}</a>
                {% endfor %}
            </div>
            <div class="d-flex w-100" style="padding-left: 8%;">
                {% for i in productos %}
                    <div class="card bg-transparent text-light" style="width: 17rem; margin-right: 3%; border: none;">
                        <a href="">
                            <img src="{{ i.foto.url }}" class="card-img-top rounded" alt="Producto" style="height: 230px; padding: 16px;"> 
                        </a>
                        <div class="card-body">
                            <h4 class="card-title" style="font-family:Nunito;">$ {{ i.precio|intcomma }}</h4>
                            <h5 class="card-text" style="font-family: Quicksand;">{{ i.nombre }}</h5>
                            <form>
                                <input type="hidden" name="id" id="id_{{ i.id }}" value="{{ i.id }}">
                                <input type="number" name="cantidad" id="cantidad_{{ i.id }}" class="form-control bg-dark text-light text-center" min="1" value="1" size="3">
                                <br>
                                <button type="button" onclick="add_carrito(`{% url 'carrito_add' %}`, {{ i.id }});" class="btn" style="background-color: #fc4664; color: white; width: 100%;"><i class="bi bi-cart2"></i> Agregar</button>
                            </form>
                            <br>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="d-block" style="width: 18%; padding-top: 16px; padding-left: 3%;">
                <a href="{% url 'front_productos' %}" class="text-center d-block text-decoration-none" style="color:white; font-family:Nunito; font-size: x-large;padding-top: 4%; padding-bottom: 4%; border-bottom: 1px solid rgb(112, 112, 112);">Ver todos</a>
                {% for i in categorias %}
                    <a href="{% url 'front_productos' %}?categorias={{ i.id }}" class="text-center d-block text-decoration-none" style="color:white; font-family:Nunito; font-size: x-large;padding-top: 4%; padding-bottom: 4%; border-bottom: 1px solid rgb(112, 112, 112);">{{ i.nombre }}</a>
                {% endfor %}
            </div>
            <div class="d-flex w-100" style="padding-left: 8%;">
                <p class="text-light" style="font-family: Nunito;">No hay productos en esta categoría...</p>
            </div>
        {% endif %}
    </div>
{% endblock %}