{% extends 'Oasis/barNav.html' %}
{% load static %}

{% block titulo %}Mi Perfil{% endblock %}

{% block contenedor %}
  <div class="radio-inputs many">
    <label class="radio">
      <a href="{% url 'ver_perfil' %}">
        <input type="radio" name="radio" checked="" />
        <span class="name">Inicio</span> 
      </a>
    </label>
    {% if user.rol == 1 or user.rol == 3 %}
      <label class="radio">
        <a href="{% url 'ver_ventas' %}">
          <input type="radio" name="radio" />
          <span class="name">Historial de Ventas</span>
        </a>
      </label>
      <label class="radio">
        <a href="{% url 'ver_mesas_a_cargo' %}">
          <input type="radio" name="radio" />
          <span class="name">Mesas a cargo</span>
        </a>
      </label>
    {% endif %}
    {% if user.rol == 1 %}
      <label class="radio">
        <a href="{% url 'ganancias_eventos' %}">
          <input type="radio" name="radio" />
          <span class="name">Ganancias Eventos</span>
        </a>
      </label>
    {% endif %}
  </div>
    <div class="card mb-3 mt-5 w-100 ml-0 mr-0 mx-auto" style="max-width: 700px; margin-top: 2.5em;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ user.foto.url }}" class="img-fluid rounded-circle" alt="..." style="height: 200px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="card-title d-flex justify-content-between">
            <h5 class="card-title fw-bold">{{ user.nombre }}</h5>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editarPerfil"><i class="bi bi-pencil"></i></button>
          </div>
          <p class="card-text"><small class="text-body-secondary">{{ user.get_rol_display }}</small></p>
          <p class="card-text">
            <strong>Correo:</strong> {{ user.email }} <br>
            <strong>Cedula:</strong> {{ user.cedula }} <br>
            <strong>Fecha Nacimiento:</strong> {{ user.fecha_nacimiento }}
          </p>
        </div>
        <div class="card-body">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-left: 3%; margin-right: 3%;">
                <a class="btn btn-primary" data-toggle="modal" data-target="#cambiarContrasena">Cambiar contraseña</a>
                <a href="{% url 'logout' %}" type="button" class="btn btn-danger"><i class="bi bi-box-arrow-right"></i> Cerrar sesión</a>
            </div>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="editarPerfil" tabindex="-1" role="dialog" aria-labelledby="editarPerfilLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="tituloFormulario">Editar perfil</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="formulario" action="{% url 'editar_perfil' user.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="flex">
                        <label>
                            <input required="true" type="text" class="input" name="nombre" value="{{ user.nombre }}">
                            <span>Nombre</span>
                        </label>
                        <label>
                            <input required="true" type="number" class="input" name="cedula" value="{{ user.cedula }}">
                            <span>Cédula</span>
                        </label>
                    </div> 
                    <label>
                        <input required="true" type="email" class="input" name="email" value="{{ user.email }}">
                        <span>Email</span>
                    </label>  
                    <label>
                      <input required="true" type="date" class="input" name="fechaNacimiento" value="{{ user.fecha_nacimiento|date:'Y-m-d' }}">
                      <span>Fecha de nacimiento</span>
                    </label> 
                    <div class="mb-3 mt-2 file-input">
                        <span>Cambiar foto de perfil</span>
                        <input class="form-control" type="file" id="formFile" name="foto_nueva" value="{{ user.foto.url }}">
                    </div>
                  <button class="btn btn-success mb-2 mt-2" type="submit">Editar Perfil</button>
                </form>
            </div>
        </div>
    </div>
  </div>




  <div class="modal fade" id="cambiarContrasena" tabindex="-1" role="dialog" aria-labelledby="cambiarContrasenaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="tituloFormulario">Cambiar contraseña</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="formulario" action="{% url 'cambiar_clave' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label>
                        <input required="true" type="password" class="input" name="clave">
                        <span>Contraseña actual</span>
                    </label>
                    <label>
                        <input required="true" type="password" class="input" name="nueva1">
                        <span>Contraseña nueva</span>
                    </label>
                    <label>
                        <input required="true" type="password" class="input" name="nueva2">
                        <span>Repetir contraseña</span>
                    </label>  
                  <button class="btn btn-success mb-2 mt-2" type="submit">Cambiar contraseña</button>
                </form>
            </div>
        </div>
    </div>
  </div>



  
{% endblock %}