{% extends 'Oasis/barNavInicio.html' %}
{% load static %}

{% block titulo %}Registro{% endblock %}

{% block contenedor %}

<div class="container-fluid">
  <div class="linea"></div>
</div>

<div class="container-fluid px-0 py-5 my-5">
  <div class="row mx-0 justify-content-center text-center pb-5 pt-3">
      <div class="col-lg-6">
          <h6 class="d-inline-block bg-light text-primary text-uppercase py-1 px-2">Recuperar contraseña</h6>
          <h1>¡Recupera tu contraseña!</h1>
      </div>
  </div>

  <div class="row justify-content-center bg-registro mx-0">
    <div class="col-lg-6 py-5">
      <div class="p-5 my-5" style="background: rgba(33, 30, 28, 0.7);">
        <h4 class="text-white text-center mb-4">Ingresa tu correo y recupera tu contraseña</h4>
        <form method="POST" action="{% url 'recuperar_contrasena' %}">
          {% csrf_token %}
            <div class="col-sm-12">
              <div class="form-group">
                <input type="text" class="form-control text-light bg-transparent p-4" placeholder="Correo" required="required" name="email"/>
              </div>
            </div>
            <div class="form-row justify-content-center mt-4">
              <div class="col-sm-6">
                <button class="btn btn-primary btn-block" type="submit" style="height: 47px;">Recuperar</button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}