{% extends 'Oasis/barNavInicio.html' %}
{% load static %}

{% block titulo %}Inicio{% endblock %}

{% block contenedor %}
  <!-- Carousel Start -->
  <div class="container-fluid p-0 mb-5 pb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#header-carousel" data-slide-to="1"></li>
        <li data-target="#header-carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item position-relative active" style="min-height: 100vh;">
          <img class="position-absolute w-100 h-100" src="{% static 'Oasis/img/personas_discoteca.jpg' %}" style="object-fit: cover;">
          <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="max-width: 900px;">
              <h6 class="text-white text-uppercase mb-3 animate__animated animate__fadeInDown"
                style="letter-spacing: 3px;">Oasis Night Club</h6>
              <h3 class="display-3 text-capitalize text-white mb-3">Nuestros Eventos</h3>
              <p class="mx-md-5 px-5">Explora nuestros próximos eventos y disfruta de noches inolvidables con los mejores DJs, espectáculos en vivo y fiestas temáticas. Vive la experiencia única de Oasis Night Club,
                donde cada evento está diseñado para ofrecerte diversión y entretenimiento al máximo.</p>
              <a class="btn btn-outline-light py-3 px-4 mt-3 animate__animated animate__fadeInUp" href="{% url 'front_eventos' %}">
                Ver eventos</a>
            </div>
          </div>
        </div>
        <div class="carousel-item position-relative" style="min-height: 100vh;">
          <img class="position-absolute w-100 h-100" src="{% static 'Oasis/img/fondo3.jpg' %}" style="object-fit: cover;">
          <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="max-width: 900px;">
              <h6 class="text-white text-uppercase mb-3 animate__animated animate__fadeInDown"
                style="letter-spacing: 3px;">Oasis Night Club</h6>
              <h3 class="display-3 text-capitalize text-white mb-3">Pedidos en linea</h3>
              <p class="mx-md-5 px-5"> Disfruta de una experiencia exclusiva sin salir de tu mesa. Haz tu pedido en línea y recibe tus bebidas y 
                aperitivos directamente en tu lugar. ¡Rápido, cómodo y sin complicaciones!</p>
              <a class="btn btn-outline-light py-3 px-4 mt-3 animate__animated animate__fadeInUp" href="{% url 'escanear_mesa' %}">Realizar Pedido</a>
            </div>
          </div>
        </div>
        <div class="carousel-item position-relative" style="min-height: 100vh;">
          <img class="position-absolute w-100 h-100" src="{% static 'Oasis/img/fondo1.jpg' %}" style="object-fit: cover;">
          <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="max-width: 900px;">
              <h6 class="text-white text-uppercase mb-3 animate__animated animate__fadeInDown"
                style="letter-spacing: 3px;">Oasis Night Club</h6>
              <h3 class="display-3 text-capitalize text-white mb-3">Nuestro menú</h3>
              <p class="mx-md-5 px-5">Descubre nuestro exquisito menú, diseñado para deleitar tus sentidos con una selección de bebidas premium, 
                cocteles creativos y deliciosos aperitivos. Vive una experiencia gastronómica única mientras disfrutas de la mejor música y ambiente de la ciudad.</p>
              <a class="btn btn-outline-light py-3 px-4 mt-3 animate__animated animate__fadeInUp" href="{% url 'front_productos' %}">Ver Menú</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Carousel End -->



  <!-- About Start -->
  <div class="container-fluid py-5">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col-lg-6 pb-5 pb-lg-0">
          <img class="img-fluid w-100" src="{% static 'Oasis/img/sobre_nosotros.jpg' %}" alt="">
        </div>
        <div class="col-lg-6">
          <h6 class="d-inline-block text-primary text-uppercase bg-light py-1 px-2">Sobre Nosotros</h6>
          <h1 class="mb-4">El Mejor Club Nocturno de la Ciudad</h1>
          <p class="pl-4 border-left border-primary">Oasis Night Club es más que una discoteca, es un lugar donde las noches cobran vida. Nos especializamos en crear experiencias inolvidables con la mejor música,
             eventos exclusivos y un ambiente único que te invita a disfrutar.</p>
          <div class="row pt-3">
            <div class="col-6">
              <div class="bg-light text-center p-4">
                <h3 class="display-4 text-primary" data-toggle="counter-up">150</h3>
                <h6 class="text-uppercase">Eventos Realizados</h6>
              </div>
            </div>
            <div class="col-6">
              <div class="bg-light text-center p-4">
                <h3 class="display-4 text-primary" data-toggle="counter-up">5000+</h3>
                <h6 class="text-uppercase">Clientes Satisfechos</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->



  <!-- Menu Header Start -->
    <div class="container-fluid px-0 my-5">
      <div class="row mx-0 justify-content-center text-center">
            <div class="col-lg-6">
                <h6 class="d-inline-block bg-light text-primary text-uppercase py-1 px-2">Nuestro Menú</h6>
                <h1>Descubre nuestro exquisito menú</h1>
            </div>
        </div>
    </div>
  <!-- Menu Header End -->


  <!-- Carousel Menu Start -->
  <div class="container pb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel" style="height: 400px;">
      <div class="carousel-inner" style="height: 400px;">
        {% for m in menu %}
        <div class="carousel-item position-relative {% if forloop.first %}active{% endif %}" style="min-height: 100vh;">
          <img class="position-absolute w-100 h-100" src="{{ m.foto.url }}" style="object-fit: cover;">
          <div class="carousel-caption d-flex flex-column align-items-center justify-content-center"
            style="height: 400px;">
            <div class="p-3" style="max-width: 900px;">
              <h4 class="text-white text-uppercase mb-3 animate__animated animate__fadeInDown"
                style="letter-spacing: 3px;">{{ m.nombre }}</h4>
              <a class="btn btn-outline-light py-3 px-4 mt-3 animate__animated animate__fadeInUp"
                href="{% url 'front_productos' %}?cat={{ m.id }}">
                Ver {{ m.nombre }}</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Carousel End -->


  <!-- Menu Footer Start -->
  <div class="container-fluid px-0 pb-5">
    <div class="row mx-0 justify-content-center text-center">
          <div class="col-lg-6">
              <a href="{% url 'front_productos' %}" type="button" class="btn btn-primary" >Ver todo el Menú</a>
          </div>
      </div>
  </div>
  <!-- Menu Footer End -->


  <!-- Eventos Start -->
  <div class="container-fluid bg-pricing" style="margin: 90px 0;">
    <div class="container">
      <div class="row">
        <div class="col-lg-5" style="min-height: 500px;">
          <div class="position-relative h-100">
            <img class="position-absolute w-100 h-100" src="{% static 'Oasis/img/chica-eventos.png' %}" style="object-fit: cover;">
          </div>
        </div>
        <div class="col-lg-7 pt-5 pb-lg-5">
          <div class="pricing-text bg-light p-4 p-lg-5 my-lg-5">
            <div class="owl-carousel pricing-carousel">
              <div class="bg-white">
                <div class="d-flex align-items-center justify-content-between border-bottom border-primary p-4">
                  <h2 class="display-4 mb-0">
                    Nuestros eventos
                  </h2>
                </div>
                <div class="p-4">
                  <p><i class="fa fa-check text-success mr-2"></i>Noches de Música en Vivo</p>
                  <p><i class="fa fa-check text-success mr-2"></i>Fiestas Temáticas Semanales</p>
                  <p><i class="fa fa-check text-success mr-2"></i>Eventos de Djs Internacionales</p>
                  <p><i class="fa fa-check text-success mr-2"></i>Promociones de Bebidas</p>
                  <p><i class="fa fa-check text-success mr-2"></i>Noches de Karaoke y Open Mic</p>
                  <a href="{% url 'front_eventos' %}" class="btn btn-primary my-2">Ver Todos los Eventos</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Eventos End -->


  <!-- Galeria Start -->
  <div class="container-fluid py-5">
    <div class="container pt-5">
      <div class="row justify-content-center text-center">
        <div class="col-lg-6">
          <h6 class="d-inline-block bg-light text-primary text-uppercase py-1 px-2">Galería</h6>
          <h1 class="mb-5">Momentos inolvidables</h1>
        </div>
      </div>
      <div class="row">
        {% for g in galeria|slice:":6" %}
          <div class="col-lg-4 col-md-6">
            <div class="team position-relative overflow-hidden mb-5" style="display: flex; flex-direction: column; flex: 1;">
              <img class="img-fluid" src="{{ g.foto.url }}" alt="" style="width: 100%; height: 200px; object-fit: cover;">
              <div class="position-relative text-center" style="flex: 1;">
                <div class="team-text bg-light text-dark">
                  <h5 class="font-weight-bold" style="font-size: 16px;">{{ g.nombre }}</h5>
                  <p class="m-0" style="font-size: 12px;">{{ g.fecha }}</p>
                </div>
                <div class="team-social bg-primary text-center">
                  <a class="btn btn-outline-light" href="{% url 'front_fotos' g.id %}">Ver Carpeta</a>
                </div>  
              </div>
            </div>
          </div>
        {% endfor %}
        </div>

        {% if galeria|length > 6 %}
          <div class="container-fluid px-0 pb-5">
            <div class="row mx-0 justify-content-center text-center">
                  <div class="col-lg-6">
                      <a type="button" class="btn btn-primary">Ver toda la Galería</a>
                  </div>
              </div>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
  <!-- Galeria End -->


  <!-- Horario Start -->
  <div class="container-fluid py-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-6" style="min-height: 500px;">
          <div class="position-relative h-100">
            <img class="position-absolute w-100 h-100" src="{% static 'Oasis/img/hombre-horario.png' %}" style="object-fit: cover;">
          </div>
        </div>
        <div class="col-lg-6 pt-5 pb-lg-5">
          <div class="hours-text bg-light p-4 p-lg-5 my-lg-5">
            <h6 class="d-inline-block text-white text-uppercase bg-primary py-1 px-2">Nuestro Horario</h6>
            <h1 class="mb-4">¡Hasta el amanecer!</h1>
            <p>En Oasis Night Club, queremos que vivas experiencias inolvidables. Nuestro horario está diseñado para ofrecerte las mejores noches de diversión y entretenimiento. Te esperamos de Martes a Domingo para disfrutar de la mejor música y un ambiente único.</p>
            <ul class="list-inline">
              <li class="h6 py-1"><i class="far fa-circle text-primary mr-3"></i>Martes – Jueves : 7:00 PM - 2:00 AM</li>
              <li class="h6 py-1"><i class="far fa-circle text-primary mr-3"></i>Viernes - Domingo : 7:00 PM - 4:00 AM</li>
              <li class="h6 py-1"><i class="far fa-circle text-primary mr-3"></i>Lunes : Cerrado</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Horario End -->


{% endblock %}

