{% extends 'Oasis/barNavInicio.html' %}
{% load static %}
{% load humanize %}

{% block titulo %}Eventos{% endblock %}

{% block contenedor %}
    <div id="messages" class="message-container">
    </div>

    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid bg-jumbotron-eventos" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h3 class="text-white display-3 mb-4">Eventos</h3>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-white" href="{% url 'index' %}">Inicio</a></p>
                <i class="far fa-circle px-3"></i>
                <p class="m-0">Eventos</p>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Evento Info Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6 pb-5 pb-lg-0" style="height: 300px;">
                <img class="img-fluid w-100 h-100" src="{{ evento.foto.url }}" alt="">
            </div>
            <div class="col-lg-6">
                <h1 class="mb-2">{{ evento.nombre }}</h1>
                <h6 class="d-inline-block text-primary text-uppercase bg-light py-1 px-2">{{ evento.fecha }} a las {{ evento.hora_incio }} pm</h6>
                <p class="pl-4 border-left border-primary">{{ evento.descripcion }}</p>
                <div class="row pt-3">
                    <div class="col-6">
                        <div class="bg-light text-center p-3">
                            <h3 class="display-4 text-primary" data-toggle="counter-up">{{ evento.aforo }}</h3>
                            <h6 class="text-uppercase">Aforo</h6>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- Evento Info End -->



    <!-- Reservar o comprar Start-->
    <div class="footer container-fluid position-relative py-5" style="margin-top: 90px;">
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-6 pr-lg-5 mb-5 border-end">
                    <h4 class="text-dark text-center mb-5">¡Compra tus entradas!</h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Entrada General</td>
                                <td><input id="entrada-general-cantidad" type="number" class="form-control text-dark" style="width: 60%;" min="0" max="4" value="1" size="1"></td>
                                <td id="precio-entrada-general-oculto" hidden>{{ evento.precio_entrada }}</td>
                                <td id="precio-entrada-general">${{ evento.precio_entrada|intcomma }}</td>
                            </tr>
                            <tr>
                                <td>Entrada VIP</td>
                                <td><input id="entrada-vip-cantidad" type="number" class="form-control text-dark" style="width: 60%;" min="0" max="4" value="1" size="1"></td>
                                <td id="precio-entrada-vip-oculto" hidden>{{ evento.precio_vip }}</td>
                                <td id="precio-entrada-vip">${{ evento.precio_vip|intcomma }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 class="text-dark text-end mb-5 fw-bold" id="total-general">Total: ${{ total_defecto|intcomma }}</h5>
                    <div class="row mx-0 justify-content-center text-center">
                        <div class="col-lg-6">
                            <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmModal" id="botonComprar">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pr-lg-5 mb-5">
                    <h4 class="text-dark text-center mb-3">¡Reserva tu mesa!</h4>
                    <h6 class="text-dark text-center mb-4" style="font-size: 12px">Los números con los circulos de colores indican la cantidad de personas que caben por mesa.</h6>
                    <a href="{% static 'Oasis/img/mapaMesasBlanco-removebg-preview.png' %}" data-lightbox="gallery" data-title="Mapa Oasis Night Club">
                        <img class="img-fluid w-100 mb-4" src="{% static 'Oasis/img/mapaMesasBlanco-removebg-preview.png' %}" alt="mesas">
                    </a>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="fw-semibold fs-5" style="border: none">Mesa</td>
                                <td style="border: none">
                                    <select id="mesaSelect" class="form-control text-dark" name="mesa">
                                        <option value="">Seleccione</option>
                                            {% for m in mesas %}
                                                {% if m in listMesas %}
                                                    <option class="inputMesa" value="{{ m.id }}" data-nombre="{{ m.nombre }}" data-capacidad="{{ m.capacidad }}" data-precio="{{ m.precio }}" data-entrada="{{ evento.precio_entrada }}" disabled>{{ m.nombre }} - (Reservada)</option>
                                                {% else %}
                                                    <option class="inputMesa" value="{{ m.id }}" data-nombre="{{ m.nombre }}" data-capacidad="{{ m.capacidad }}" data-precio="{{ m.precio }}" data-entrada="{{ evento.precio_entrada }}">{{ m.nombre }}</option>
                                                {% endif %}
                                            {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row mx-0 justify-content-center text-center mt-5">
                        <div class="col-lg-6">
                            <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmCompraMesa" id="botonReservar">Reservar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Reservar o comprar End-->
    

    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="fw-bold">Confirmación de Compra</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column align-items-center justify-content-center">
                    <img  src="{{ evento.foto.url }}" alt="{{ evento.nombre }}" class="img-fluid" style="height: 150px; width: 70%; border-radius: 5px">
                    <h5 class="fw-bold mt-2" name="evento_nombre" value="{{ evento.id }}">{{ evento.nombre }}</h5>
                    <p class="d-inline-block text-primary bg-light fw-semibold py-1 px-2" style="font-size: 12px">{{ evento.fecha }}</p>
                    {% if data.nombre %}
                        <p class="text-dark" style="font-size: 12px"> Usuario: <strong>{{ data.nombre }}</strong></p>
                    {% endif %}
                    <br>
                    <div class="row gap-2">
                        <div id="detalle-general">
                            <p>x<span id="modal-entrada-general-cantidad"></span> Entrada General</p>
                            <p class="fw-semibold"><span id="modal-entrada-general-precio"></span></p>
                        </div>
                        <div id="detalle-vip">
                            <p>x<span id="modal-entrada-vip-cantidad"></span> Entrada VIP</p>
                            <p class="fw-semibold"><span id="modal-entrada-vip-precio"></span></p>
                        </div>
                    </div>
                    <br>
                    <h5 class="fw-bold"><span id="modal-total" name="total" value="{{ total_defecto }}"></span></h5>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-success" id="confirmarCompraBtn" data-evento-id="{{ evento.id }}">Confirmar compra</a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="confirmCompraMesa" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="fw-bold">Confirmación de Compra</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column align-items-center justify-content-center">
                    <img  src="{{ evento.foto.url }}" alt="{{ evento.nombre }}" class="img-fluid" style="height: 150px; width: 70%; border-radius: 5px">
                    <h5 class="fw-bold mt-2" name="evento_nombre" value="{{ evento.id }}">{{ evento.nombre }}</h5>
                    <p class="d-inline-block text-primary bg-light fw-semibold py-1 px-2" style="font-size: 12px">{{ evento.fecha }}</p>
                    {% if data.nombre %}
                        <p class="text-dark" style="font-size: 12px"> Usuario: <strong>{{ data.nombre }}</strong></p>
                    {% endif %}
                    <br>
                    <div class="container row justify-content-center">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="fw-bold"><span id="nombre-mesa-seleccionada"></span></td>
                                    <p hidden><span id="id-mesa-seleccionada"></span></p>
                                    <td class="text-end"><span class="fw-bold" id="capacidad-mesa-seleccionada"></span> personas</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <h5 hidden><span id="total-reserva-mesa"></span></h5>
                    <h5 class="fw-bold">Total: <span id="total-front-reserva-mesa"></span></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="confirmarReservaBtn" data-evento-id="{{ evento.id }}">Confirmar compra</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}