.radio-inputs {
  display: flex;
  border-radius: 0.5rem;
  background-color: #f2e5fc;
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
  padding: 0.5rem 1rem 0 1rem;
  margin: 0rem 0rem 2rem 0rem;
}

.radio-inputs .radio {
  margin: 0;
}

.radio-inputs .radio a{
  text-decoration: none;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0.8rem;
  color: #000;
  transition: all 0.15s ease-in-out;
  position: relative;
  z-index: 1;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}
.radio-inputs .radio input + .name:hover {
  color: #000;
  font-weight: 600;
}
.radio-inputs .radio input:checked + .name:hover {
  color: #1d1d29;
}

.radio-inputs .radio input:checked + .name::after,
.radio-inputs .radio input:checked + .name::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f2e5fc;
  bottom: 0;
}

.radio-inputs .radio input:checked + .name::after {
  right: -10px;
  border-bottom-left-radius: 300px;
  box-shadow: -3px 3px 0px 3px #fff;
}
.radio-inputs .radio input:checked + .name::before {
  left: -10px;
  border-bottom-right-radius: 300px;
  box-shadow: 3px 3px 0px 3px #fff;
}





  .main_container h1{
      font-family: Nunito;
      font-weight: 400;
      color: #000;
  }
  .Contenido{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }
  .Agregar{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-family: Nunito;
  }

  .conteos{
      display: flex;
      width: auto;
      gap: 6px;
  }
  .conteos p{
      margin-top: 0.5em;
      font-size: 14px;
      font-family: Nunito;
      color: #515151;
  }
  .nav_direccionamiento{
    display: flex;
    margin-left: 1.3em;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 40px;
    width: 20%;
    font-family: Nunito;
    font-size: 20px;
  }
  .nav_direccionamiento a{
    position: relative;
    text-align: center;
    text-decoration: none;
    color: #aa46fc;
    padding: 0% 3%;
    width: 50%;
    border-bottom: 1px solid #aa46fc;
  }


  .invoice-modal .modal-content {
    padding-bottom: 40px;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.invoice-modal .modal-content .modal-body {
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.invoice-modal .modal-content .modal-body .logoFactura {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 0.5em;
}

.invoice-modal .modal-content .modal-body .logoFactura img {
  margin: 0 auto;
}

.invoice-modal .modal-content .modal-body .logoFactura button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.invoice-modal .modal-content .modal-body .datosFactura {
  margin: 0;
  font-size: 12px;
  text-align: center;
}

.invoice-modal .picos-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    overflow: hidden;
    background-color: gray;
}

.invoice-modal .picos-container .pico {
    width: 20px;
    height: 20px;
    background: white;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}


  @font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito-Medium.ttf') format('woff');
  }


  @media (max-width: 920px) {
    .Contenido{
      display: flexbox;
      flex-direction: column;
      width: 97%;
      justify-content: space-around;
      align-items: flex-start;
      gap: 1em;
    }
  }

  @media (max-width: 690px) {
    .radio-inputs.many{
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      padding: 0px;
    }

    .radio-inputs.many .radio .name {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      border-radius: 0.5rem;
      border: none;
      padding: 0.5rem 0.8rem;
      color: #000;
      transition: all 0.15s ease-in-out;
      position: relative;
      z-index: 1;
    }

    .radio-inputs.many .radio .one{
      display: none;
    }
    
    .radio-inputs.many .radio input:checked + .name {
      background-color: #f9f7fc;
      font-weight: 600;
    }
    .radio-inputs.many .radio input + .name:hover {
      color: #000;
      font-weight: 600;
    }
    .radio-inputs.many .radio input:checked + .name:hover {
      color: #1d1d29;
    }
    
    .radio-inputs.many .radio input:checked + .name::after,
    .radio-inputs.many .radio input:checked + .name::before {
      position: absolute;
      width: 0;
      height: 0;
      background-color: #fff;
    }
    
    .radio-inputs.many .radio input:checked + .name::after {
      right: -10px;
      border-bottom-left-radius: 300px;
      box-shadow: -3px 3px 0px 3px #fff;
    }
    .radio-inputs.many .radio input:checked + .name::before {
      left: -10px;
      border-bottom-right-radius: 300px;
      box-shadow: 3px 3px 0px 3px #fff;
    }
  }

  @media (max-width: 600px) {
    .Contenido{
      gap: 1em;
    }
    .conteos {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    .conteos p {
      margin-top: 0;
      margin-bottom: 0;
    }
    .conteos .divider {
      display: none;
    }
  }