{% extends 'Oasis/barNavInicio.html' %}
{% load static %}
{% load humanize %}

{% block titulo %}Productos{% endblock %}

{% block contenedor %}
    <div class="container-fluid">
        <div class="linea"></div>
    </div>


    <!-- Reservas Start -->
    <div class="container-fluid px-0 py-5 px-5">
        <div class="row justify-content-center mx-0">
            <div class="col-lg-2 py-5">
                <a href="{% url 'ver_perfil' %}" class="d-flex align-items-center py-2 px-4 mb-2 text-decoration-none {% if url == 'Perfil' %} bg-primary text-white {% else %} bg-light {% endif %}">Perfil</a>
                <a href="{% url 'ver_detalles_pedido_usuario' %}" class="d-flex align-items-center py-2 px-4 mb-2 text-decoration-none {% if url == 'ver_detalles_pedido_usuario' %} bg-primary text-white {% else %} bg-light {% endif %}">Pedidos activos</a>
                <a href="{% url 'ver_ventas' %}" class="d-flex align-items-center py-2 px-4 mb-2 text-decoration-none {% if url == 'historial_pedidos' %} bg-primary text-white {% else %} bg-light {% endif %}">Historial de pedidos</a>
                <a href="{% url 'entradas_usuario' %}" class="d-flex align-items-center py-2 px-4 mb-2 text-decoration-none {% if url == 'entradas' or url == 'entradas_info' %} bg-primary text-white {% else %} bg-light {% endif %}">Entradas</a>
                <a href="{% url 'reservas_usuario' %}" class="d-flex align-items-center py-2 px-4 mb-2 text-decoration-none {% if url == 'reservas' or url == 'reservas_info' %} bg-primary text-white {% else %} bg-light {% endif %}">Reservas</a>
                <a href="{% url 'logout' %}" class="d-flex align-items-center bg-light py-2 px-4 mb-2 text-decoration-none"><i class="fas fa-sign-out-alt" style="margin-right: 5px;"></i>Cerrar sesión</a>
            </div>
            <div class="col-lg-10 py-5">
                <div class="row mx-0 justify-content-center text-center pb-5 pt-3">
                    <div class="col-lg-6">
                        <h6 class="d-inline-block bg-light text-primary text-uppercase py-1 px-2">Reservas</h6>
                        <h1>Revisa tus mesas reservadas</h1>
                    </div>
                </div>


                {% if reservas_info  %}
                    <div class="row">
                        {% for r in reservas_info %}
                            <div class="col-lg-4 col-md-6">
                                <div class="team position-relative overflow-hidden mb-5" style="display: flex; flex-direction: column; flex: 1;">
                                <img class="img-fluid" src="{{ r.evento.foto.url }}" alt="{{ r.evento.nombre }}" style="width: 100%; height: 230px; object-fit: cover;">
                                <div class="position-relative text-center" style="flex: 1;">
                                    <div class="team-text {% if r.evento.estado %} bg-light text-dark {% else %} bg-dark text-light {% endif %}">
                                    <h5 class="font-weight-bold {% if r.evento.estado %} text-dark {% else %} text-light {% endif %}" style="font-size: 16px;">{{ r.evento.nombre }} {% if not r.evento.estado %} - CANCELADO {% endif %}</h5>
                                    <p class="m-0" style="font-size: 12px;">{{ r.evento.fecha }}</p>
                                    </div>
                                    <div class="team-social bg-primary text-center">
                                    <a class="btn btn-outline-light" href="{% url 'reserva_info' r.reserva.id %}">Más información</a>
                                    </div>  
                                </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="row mx-0 justify-content-center text-center pb-5 pt-3">
                        <div class="col-lg-6">
                            {% if user.estado == 1 %}
                                <p>No has reservado mesas</p>
                                <a type="button" class="btn btn-secondary" href="{% url 'front_eventos' %}">Ver eventos</a>
                            {% else %}
                                <p>Eres un usuario bloqueado, no has reservado mesas</p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Reservas End -->
{% endblock %}